.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GRP Project 1/FileContentIndex/be1db479-0236-4c81-a836-7345f410d120.vsidx
.vs/GRP Project 1/FileContentIndex/read.lock
.vs/GRP Project 1/v17/.wsuo
